button{
    border: none;
    /* float: right; */
    margin-left: 20px;
    border-radius: 3px;
    padding: 5px 10px;
    background-color:gray;
    color: white;
 }
.research{
    margin-top: 100px;
}
table{
    margin: 10px;
}
.mat-header-cell{
    padding: 10px;
}
.mat-cell{
    padding: 10px;
}
form{
    margin-left: 300px;
}
input{
    padding: 5px;
    border-radius: 3px;
    width: 300px;
}
.mat-cell a{
    color: rgb(0, 174, 255);
    cursor: pointer;
}