<div class="display_All_Data">
    <table>
        <tr>
            <td><h5>Emp_id :</h5> {{employees.emp_id}}</td>
            <td><h5>Branch_id :</h5> {{employees.branch_id}}</td>
            <td><h5>Emp_name :</h5> {{employees.emp_name}}</td>
        </tr> 
        <tr>
            <td><h5>Emp_email :</h5> {{employees.emp_email}}</td>
            <td><h5>Emp_phone :</h5> {{employees.emp_phone}}</td>
            <td><h5>Emp_password :</h5> {{employees.emp_password}}</td>
        </tr> 
        <tr>
            <td><h5>Emp_dob :</h5> {{employees.emp_dob}}</td>
            <td><h5>Emp_salary :</h5> {{employees.emp_salary}}</td>
            <td><h5>Branch_short_name :</h5> {{employees.branch_short_name}}</td>
        </tr> 
        <tr>
            <td><h5>Emp_status :</h5> {{employees.emp_status}}</td>
            <td><h5>Register_at :</h5> {{employees.register_at}}</td>
            <td><h5>Branch :</h5> {{employees.branch}}</td>
        </tr> 
        <tr>
            <td></td>
            <td><h5>emp_profile :</h5> <img src="https://test.fcntraining.co.in/uploads/Emp_{{employees.emp_id}}"></td>
            <td></td>
        </tr> 
    </table>
</div>