
<div class="body">
<div mat-dialog-content>
  <h3>user_data : </h3>
  <!-- <div mat-dialog-actions>
    <h3>user_data : </h3>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn"><i class="fa fa-times"></i></button>
  </div> -->
  <table>
    <tr>
      <td><h5>User_id :</h5> {{local_data.user_id}}</td>
      <td><h5>Branch_id :</h5> {{local_data.branch_id}}</td>
      <td><h5>Ibo_code :</h5> {{local_data.ibo_code}}</td>
     
    </tr>  
    <tr>
      <td><h5>Name_of_city :</h5> {{local_data.name_of_city}}</td>
      <td><h5>Branch_code :</h5> {{local_data.branch_code}}</td>
      <td><h5>First_name :</h5> {{local_data.first_name}}</td>
    </tr>
    <tr>
      <td><h5> Middle_name :</h5> {{local_data.middle_name}}</td>
      <td><h5> Last_name :</h5> {{local_data.last_name}}</td>
      <td><h5>fathers_name :</h5> {{local_data.fathers_name}}</td>
    </tr>
    <tr>
      <td><h5>dob :</h5> {{local_data.dob}}</td>
      <td><h5>nationality :</h5> {{local_data.nationality}}</td>
      <td><h5>residential_address :</h5> {{local_data.residential_address}}</td>
    </tr>  
    <tr>
      <td><h5>city :</h5> {{local_data.city}}</td>
      <td><h5>state :</h5> {{local_data.state}}</td>
      <td><h5> pin_code :</h5> {{local_data.pin_code}}</td>
      
    </tr>
    <tr>
      <td><h5> mobile :</h5> {{local_data.mobile}}</td>
      <td><h5>email :</h5> {{local_data.email}}</td>
      <td><h5>password :</h5> {{local_data.password}}</td>
      
    </tr>  
    <tr>
      <td><h5>id_proof_name :</h5> {{local_data.id_proof_name}}</td>
      <td><h5>id_proof_no :</h5> {{local_data.id_proof_no}}</td>
      <td><h5>profile :</h5> {{local_data.profile}}</td>
    </tr>
    <tr>
      <td><h5>name_of_bank :</h5> {{local_data.name_of_bank}}</td>
      <td><h5>account_no :</h5> {{local_data.account_no}}</td>
      <td><h5>ifsc_code :</h5> {{local_data.ifsc_code}}</td>
    </tr>
    <tr>
      <td><h5>profile_picture :</h5><img src="https://test.fcntraining.co.in/uploads/User_{{local_data.user_id}}/{{local_data.profile_picture}}" width="50px" height="50px"></td>
      <!-- <td><h6>profile_picture :</h6>{{local_data.profile_picture}}</td> -->
    <!-- </tr>
    <tr> -->
      <td><h5>aadhar_front :</h5><img src="https://test.fcntraining.co.in/uploads/User_{{local_data.user_id}}/{{local_data.aadhar_front}}" width="50px" height="50px"></td>
    <!-- </tr>
    <tr> -->
      <td><h5> aadhar_back :</h5><img src="https://test.fcntraining.co.in/uploads/User_{{local_data.user_id}}/{{local_data.aadhar_back}}" width="50px" height="50px"></td>
      
    </tr>
    <tr>
      <td><h5> other_proof :</h5><img src="https://test.fcntraining.co.in/uploads/User_{{local_data.user_id}}/{{local_data.other_proof}}" width="50px" height="50px"></td>
      <td><h5>register_at :</h5> {{local_data.register_at}}</td>
      <td><h5>updated_at :</h5> {{local_data.updated_at}}</td>
      
    </tr>
    <tr>
      <td><h5> status :</h5> {{local_data.status}}</td>
      <td><h5> branch :</h5> {{local_data.branch}}</td>
      <td><h5>branch_short_name :</h5> {{local_data.branch_short_name}}</td>
    </tr>
    <tr>
      <td><h5>branch_head :</h5> {{local_data.branch_head}}</td>
      <td><h5> contact :</h5> {{local_data.contact}}</td>
      <td><h5> username :</h5> {{local_data.username}}</td>
    </tr>
    <tr>
      <td><h5>batch_card :</h5> {{local_data.batch_card}}</td>
      <td><h5>create_switch :</h5> {{local_data.create_switch}}</td>
      <td><h5> profile_pic :</h5><img src="https://test.fcntraining.co.in/uploads/User_{{local_data.user_id}}/{{local_data.profile_picture}}" width="30px" height="30px"></td>
    </tr>
    <tr>
      <td><h5> branch_status :</h5> {{local_data.branch_status}}</td>
      <td><h5>created_at :</h5> {{local_data.created_at}}</td>
    </tr>
  </table>
 </div>
</div>
