form{
    width: 300px;
}
input{
    width: 300px;
    padding: 4px;
}
button{
    border: none;
    color: white;
    border-radius: 3px;
    margin: 5px 120px;
    padding: 5px 10px;
}
button:hover{
    background-color: gray;
    color: black;
}