<div class="login-page">
    <div class="login">
      <img src="assets/logo-login.jpg" alt="logo-login" />
      <div class="heding row">
        <div class="line col">______________________</div>
        <div class="text col"><h4>Login with Modern</h4></div>
        <div class="line col">______________________</div>
      </div>
  
      
      <form [formGroup]="loginForm" (ngSubmit)="logIn()">

        <input  type="text" class="form-control" formControlName="username" placeholder="Enter usrename" required
        >

        <input id="password"  type="password" class="form-control" formControlName="password" placeholder="Enter Password" required>

        <div class="check row">
          <div class="col">
            <input id="checkbox" type="checkbox" />Remember Me
          </div>
          <div class="col">
            <a routerLink="../forgot-password">Forgot Password?</a>
          </div>
        </div>
  
        <button class="btn btn-block btn-info p-3" type="submit"  [disabled]="!loginForm.valid" >
          <i class="fa fa-unlock-alt"></i> Login
        </button>

        <div>{{message}}</div>
      </form>
        <hr />
  
        <div class="footer row">
          <div class="col-5">
            <a routerLink="../forgot-password">Recover Password</a>
          </div>
          <div class="col-7">New to Moden Admin?<a routerLink="/resistor">Sign up</a></div>
        </div>
    </div>
  </div>
  