<div mat-dialog-content>
    <table>
        <tr>
            <td><h5>client_id :</h5>{{loc_data.client_id}}</td>
            <td><h5>ibo_id :</h5>{{loc_data.ibo_id}}</td>
            <td><h5>name :</h5>{{loc_data.name}}</td>
        </tr>
        <tr>
            <td><h5>email :</h5>{{loc_data.email}}</td>
            <td><h5>password :</h5>{{loc_data.password}}</td>
            <td><h5>phone_number :</h5>{{loc_data.phone_number}}</td>
        </tr>
        <tr>
            <td><h5>dob :</h5>{{loc_data.dob}}</td>
            <!-- <td><h6>profile_pic :</h6><img src="https://test.fcntraining.co.in/uploads/Client_{{loc_data.client_id}}/{{loc_data.profile_pic}}" width="50px" height="50px"></td> -->
            <td><h5>aadhar_number :</h5>{{loc_data.aadhar_number}}</td>
        </tr>
        <tr>
            <td><h5>profile_pic :</h5><img src="https://test.fcntraining.co.in/uploads/Client_{{loc_data.client_id}}/{{loc_data.profile_pic}}" width="50px" height="50px"></td>
            <td><h5>aadhar_front :</h5><img src="https://test.fcntraining.co.in/uploads/Client_{{loc_data.client_id}}/{{loc_data.aadhar_front}}" width="50px" height="50px"></td>
            <td><h5>aadhar_back :</h5><img src="https://test.fcntraining.co.in/uploads/Client_{{loc_data.client_id}}/{{loc_data.aadhar_back}}" width="50px" height="50px"></td>
            <td><h5>other_proof :</h5><img src="https://test.fcntraining.co.in/uploads/Client_{{loc_data.client_id}}/{{loc_data.other_proof}}" width="50px" height="50px"></td>
        </tr>
        <tr>
            <td><h5>register_at :</h5>{{loc_data.register_at}}</td>
            <td><h5>updated_at :</h5>{{loc_data.updated_at}}</td>
            <td><h5>status :</h5>{{loc_data.status}}</td>
        </tr>
        <tr>
            <td><h5>ibo_code :</h5>{{loc_data.ibo_code}}</td>
            <td><h5>first_name :</h5>{{loc_data.first_name}}</td>
            <td><h5>last_name :</h5>{{loc_data.last_name}}</td>
        </tr>
    </table>
</div>