
<!-- Nevbar start -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <div class="image">
        <a class="navbar-brand d-flex" href="#">
          <img
            src="assets/logo.jpg"
            width="50"
            height="50"
            class="d-inline-block align-top"
            alt=""
          />
          <p>Modern</p>
        </a>
      </div>
    </a>
  
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#"
          ><i class="fa fa-user-o"></i> Edit Profile</a
        >
        <a class="dropdown-item" href="#"
          ><i class="fa fa-envelope-o"></i> My Inbox</a
        >
        <a class="dropdown-item" href="#"
          ><i class="fa fa-check-square-o"></i> Task</a
        >
        <a class="dropdown-item" href="#"
          ><i class="fa fa-comment-o"></i> Chats</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item logout" (click)="logout()"
          ><i class="fa fa-power-off"></i> Logout</a
        >
      </div>
    </li>
  </nav>
  <!-- NavBar End -->
 