
input{
    padding: 9px 10px;
    margin: 5px 10px;
    width: 300px;
    border: none;
    border-radius: 3px;
    background-color: antiquewhite;
}
button{
    border: none;
    color: white;
    border-radius: 3px;
    margin: 20px 440px;
    /* padding: 10px 20px; */
}
button:hover{
    background-color: gray;
    color: black;
}